.card {
  width: 300px;
  padding: 40px 0;

  text-align: center;

  border: 1px solid gray;
  border: 1px solid rgb(66 180 202 / 50%);
  border-radius: 10px;
}

.cardInfo {
  font-weight: normal;
  opacity: 0.5;
}

.image {
  margin-bottom: 10px;
  border-radius: 10px;
}
