@font-face {
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Raleway-SemiBold.woff") format("woff");
}

@font-face {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Raleway-Regular.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #021415;
  --text-main: white;
  --text-accent: #bfde42;
  --blue: #42b4ca;
}

html {
  box-sizing: border-box;

  font-family: Raleway, sans-serif;
  font-weight: 600;
  color: var(--text-main);

  background-color: var(--background-color);
  background-image: radial-gradient(
    rgb(217 217 217 / 20%),
    var(--background-color)
  );
}
